<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot example</title>
    <link rel="stylesheet"
          href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<h1>Chat</h1>
<div hx-ws="connect:/chatbot">

    <div>Suggested questions: <br/>
        Is there a non-binary character in Battlefield 2042? <br/>
        Where did Adele do her first performance after her comeback? <br/>
        How much is 3+3? <br/>
    </div>

    <form id="form" hx-ws="send">
        Question: <input name="chat_message" value=""/>
        <button type="submit">Submit</button>
    </form>

    <div id="chatContent"></div>
</div>

</body>
</html>